.card-container {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.2s;
}
.card-container .m-card, .card-container .card-btns {
  transform: translateY(0);
  transition: all 0.2s;
}
.card-container:hover .m-card, .card-container:hover .card-btns, .card-container:hover .copy-btns {
  transform: translateY(-4px);
}
.card-container:hover .m-card .ant-card-body {
  background-color: #ececec;
  box-shadow: 0 4px 8px rgba(50, 50, 93, 0.11), 0 4px 6px rgba(0, 0, 0, 0.08);
}
.card-container:hover .card-btns .icon {
  color: rgba(39, 56, 72, 0.85);
}
.card-container:hover .copy-btns .icon {
  color: #2395f1;
}
.card-container:hover .card-btns .icon.active, .card-container:hover .copy-btns .icon.active {
  color: #fac200;
}
.card-container:active .m-card, .card-container:active .card-btns, .card-container:active .copy-btns {
  transform: translateY(4px);
}
.card-container .ant-card:not(.ant-card-no-hovering):hover {
  box-shadow: none;
}
.card-container .card-btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.48rem;
  height: 0.48rem;
  border-top-right-radius: 4px;
}
.card-container .card-btns .icon {
  cursor: pointer;
  font-size: 0.16rem;
  padding: 0.06rem;
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}
.card-container .card-btns .icon.active {
  color: #fff;
}
.card-container .copy-btns {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.48rem;
  height: 0.48rem;
  border-top-right-radius: 4px;
}
.card-container .copy-btns .icon {
  cursor: pointer;
  font-size: 0.16rem;
  padding: 0.06rem;
  position: absolute;
  right: 0;
  top: 3px;
  color: #fff;
}
.card-container .copy-btns .icon.active {
  color: #fff;
}

.m-card {
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.16rem;
  transition: all 0.4s;
  position: relative;
}
.m-card .ant-card-body {
  background-color: transparent;
  border-radius: 4px;
  padding-top: 1.4rem;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.11), 0 1px 3px rgba(255, 255, 255, 0.08);
  transition: all 0.2s;
}
.m-card .ui-logo {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0.24rem);
  font-size: 0.5rem;
  color: #fff;
  background-color: #2395f1;
  line-height: 1rem;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.m-card .ui-title {
  font-size: 0.19rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-card .m-card-body .icon {
  font-size: 0.8rem;
}
.m-card .m-card-body .name {
  font-size: 0.18rem;
  margin-top: 0.16rem;
}

@media (max-width: 768px) {
  .m-card .ui-logo {
    width: 0.6rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    transform: translate(-50%, 0.08rem);
  }
  .m-card .ant-card-body {
    padding-top: 0.76rem;
    padding-bottom: 0.08rem;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .m-card .ui-logo {
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.4rem;
    transform: translate(-50%, 0.16rem);
  }
  .m-card .ant-card-body {
    padding-top: 1.12rem;
    padding-bottom: 0.16rem;
  }
}/*# sourceMappingURL=ProjectCard.css.map */